* {margin: 0; padding: 0;}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
}

.main {
    width: 960px;
    padding: 0 10px;
    margin: auto;
    background: #999;
    height: 1000px;
}

.header, .content, .footer {
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
}

img {
    background: #777;
    width: 100px; height: 100px;
    display: block;
}

.empty-block-header {
    height: 100px;
    width: 300px;
    background: #777;
}